<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="loginAction" class="com.xy.action.LoginAction" scope="prototype"></bean>
	<bean id="homeAction" class="com.xy.action.HomeAction" scope="prototype"></bean>

	<!-- 打印 -->
	<bean id="invoicePrint" class="com.xy.action.print.InvoicePrint" scope="prototype"></bean>
	<bean id="shippingOrderPrint" class="com.xy.action.print.ShippingOrderPrint" scope="prototype"></bean>
	<!-- dept -->
	<bean id="deptAction" class="com.xy.action.sysadmin.DeptAction" scope="prototype"></bean>
	<!-- user -->
	<bean id="userAction" class="com.xy.action.sysadmin.UserAction" scope="prototype"></bean>
	<!-- role -->
	<bean id="roleAction" class="com.xy.action.sysadmin.RoleAction" scope="prototype"></bean>
	<!-- module -->
	<bean id="moduleAction" class="com.xy.action.sysadmin.ModuleAction" scope="prototype"></bean>
	
	<!-- contract,购销合同 -->
	<bean id="contractAction" class="com.xy.action.cargo.ContractAction" scope="prototype"></bean>
	<!-- contractProduct,购销合同下的货物 -->
	<bean id="contractProductAction" class="com.xy.action.cargo.ContractProductAction" scope="prototype"></bean>
	<!-- extCproduct 购销合同下货物附件-->
	<bean id="extCproductAction" class="com.xy.action.cargo.ExtCproductAction" scope="prototype"></bean>


	<!-- outProductAction,出货表 -->
	<bean id="outProductAction" class="com.xy.action.cargo.OutProductAction" scope="prototype"></bean>

	<!-- exportAction,报运单 -->
	<bean id="exportAction" class="com.xy.action.cargo.ExportAction" scope="prototype"></bean>
	<!-- exportProduct 报运单下货物-->
	<bean id="exportProductAction" class="com.xy.action.cargo.ExportProductAction" scope="prototype"></bean>
	<!-- extEproduct 报运单下货物附件-->
	<bean id="extEproductAction" class="com.xy.action.cargo.ExtEproductAction" scope="prototype"></bean>

	<!-- packingListAction 装箱单-->
	<bean id="packingListAction" class="com.xy.action.cargo.PackingListAction" scope="prototype"></bean>

	<!-- shippingOrderAction 委托单-->
	<bean id="shippingOrderAction" class="com.xy.action.cargo.ShippingOrderAction" scope="prototype"></bean>

	<!-- invoiceAction 发票-->
	<bean id="invoiceAction" class="com.xy.action.cargo.InvoiceAction" scope="prototype"></bean>

	<!-- financeAction,统计分析 -->
	<bean id="financeAction" class="com.xy.action.cargo.FinanceAction" scope="prototype"></bean>

	<!-- statChartAction,统计分析 -->
	<bean id="statChartAction" class="com.xy.action.stat.StatChartAction" scope="prototype"></bean>

	<!-- productAction,产品信息 -->
	<bean id="productAction" class="com.xy.action.baseinfo.ProductAction" scope="prototype"></bean>

	<!-- factoryAction,厂家信息 -->
	<bean id="factoryAction" class="com.xy.action.baseinfo.FactoryAction" scope="prototype"></bean>

	<!-- shortcutAction, -->
	<bean id="shortcutAction" class="com.xy.action.home.ShortcutAction" scope="prototype"></bean>

	<!-- messageAction,-->
	<bean id="messageAction" class="com.xy.action.home.MessageAction" scope="prototype"></bean>

	<!-- FeedbackAction,使用反馈-->
	<bean id="feedbackAction" class="com.xy.action.home.FeedbackAction" scope="prototype"></bean>

	<!-- taskListAction,待办任务-->
	<bean id="taskListAction" class="com.xy.action.home.TaskListAction" scope="prototype"></bean>

	<!-- userSettingAction,个人信息修改-->
	<bean id="userSettingAction" class="com.xy.action.home.UserSettingAction" scope="prototype"></bean>

	<!-- systemFeedbackAction,系统使用反馈-->
	<bean id="systemFeedbackAction" class="com.xy.action.home.SystemFeedbackAction" scope="prototype"></bean>
</beans>








